		
		body {
			
		background-color: #C9C2B2;
		font-family: sans-serif;
		
	
		}
	
		#shape {
			
			width: 200px;
			height: 200px;
			background-color: red;
			display: none;
			position: relative;
			
		}
		
		.bold{
			
			font-weight: bold;
	
		}

		#container{
			
		    font-size: 1em;
		    font-weight: bold;
		    align-items: center;
   			justify-content: center;
   			 border: 1px solid #c3c3c3;
   			position: absolute;
			align-content: center;
		}
		
		
